*{
  margin: 0;
  padding:0;
  font-family: sans-serif;
  user-select: none;
  box-sizing: border-box;
}

body{
  background-color:#eee !important;
  position: relative;
  width: 100vw;
  height: 100vh;
}

.login-box{
  width: 500px;
}

.dash-content{
  width:500px;
}

.dash-content > a{
  text-decoration: none;
  width: 100%;
  height: 160px;
  font-size: 30px;
  color: white;
  cursor:pointer
}

.dash-content > a:hover{
  color:White
}

.dash-content > :first-child{
  background-color: #a01e1e;
  border-radius: 12px;
  margin-right: 30px;
}

.dash-content > :nth-child(2){
  background: #45229d;
  border-radius: 12px;
}

.dash-content > :last-child{
  border-radius:12px;
  background: #abab3e
}

.deal-card{
  height: 400px;
  padding: 20px;
  position: relative;
  background: #312f2f !important;
  color: white;
  border-radius: 20px !important;
  cursor:pointer;
  text-decoration:none
}

.deal-card > .discount{
  position: absolute;
  bottom:10px;
  right:10px;
  font-size: 30px;
}

.slideshow-container {
  max-width: 1000px;
  width: 800px;
  height: 350px;
  position: relative;
  margin: auto;
  margin-bottom: 50px;
}

/* Hide the images by default */
.mySlides {
  display: none;
  width:100%;
  height: 100%;
}

.mySlides img{
  width: 90%;
  height: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);

}


/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  text-decoration: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: black;
  font-size: 22px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: black;
  font-size: 18px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
  left: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active:not(.nav-link), .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
  opacity: 1 !important;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.deal-card-copy{
  width: 450px;
  height: 210px;
  background-color:#111;
  position: relative;
  padding:5px;
  cursor:pointer
}

.deal-card-copy .slogan{
  color: gold;
  font-family: Serif;
  font-size: 60px;
  word-spacing: 10px;
  text-align: center;
  margin:30px
}

.deal-card-copy::before{
  content:'â¤';
  color:white;
  font-size: 30px;
  right: 10px;
  top: 7px;
  position: absolute;
}

.bottom-card{
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.bottom-card .discount{
  padding: 10px 20px;
  background-color: gold;
  font-weight: bold;
  font-size: 15px;
  margin-left: 5px;
}

.bottom-card .sub-slogan{
  color: white;
  font-size: 13px;
  font-weight: bold;
  margin-right:5px
}

.deal-card-details{
  padding:10px;
  display: flex;
  flex-direction: column;
  background-color: #111;
  width:450px;
  margin:15px;
  display: none;
}

.deal-card-details .header{
  color: gold;
  font-family: Serif;
  font-size: 60px;
  word-spacing: 10px;
  text-align: center;
  margin:30px
}

.deal-card-details > p{
  position: relative;
  margin-bottom: 20px;
  color:White
}

.deal-card-details > span{
  color:white
}

.deal-card-details > p::after{
  content:'';
  position: absolute;
  width: 99%;
  background:white;
  height:1px;
  bottom:0;
  left:0
}

.toggler{
  display:block
}

.col{
  display: flex;
  justify-content: center;
  align-items: center;
}

a{
  text-decoration: none !important;
}

.carousel{
  background-repeat: no-repeat;
  width: 350px;
  height:200px;
  background-size: contain;
}

.delete{
  background: #da1414;
  color:white;
  font-size: 20px;
  width:30px;
  height: 30px;
  text-align: center;
  top: 10px;
  left: 20px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  position: absolute;
}

.carousel-container{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.service-card{
  min-width: 400px !important;
}
